# Created by venv; see https://docs.python.org/3/library/venv.html
# ambiente virtual
.venv/

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# vscode
.vscode/

# sistema
.DS_Store
Thumbs.db
